<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Setter: 注入物件 -->
    <bean id="horse" class="ch02._01_setter._02.Horse">
		<property name="petName" value="馬斯勒"/>
	</bean>  
	<bean id="pig" class="ch02._01_setter._02.Pig">
		<property name="petName" value="粉紅豬"/>
	</bean>
	
    <bean id="vet1" class="ch02._01_setter._02.Veterinary">
		<property name="animal" ref="horse"/>
	</bean>
	<bean id="vet2" class="ch02._01_setter._02.Veterinary">
		<property name="animal" ref="pig"/>
	</bean>		
	<bean id="vet3" class="ch02._01_setter._02.Veterinary">
	    <!-- 可以將要注入的物件直接定義在<property>標籤的本體內 -->
		<property name="animal" >
		   <bean id='pig' class="ch02._01_setter._02.Pig">
			  <property name="petName" value="黑白豬" />
		   </bean>
		</property>
	</bean>
</beans>

