<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="ch02Anno._06_annotation_requried"/>
<!-- 
    @Required: 用於Setter，表示標示的Property一定要在組態檔內設定，否則會丟出
               BeanCreationException的例外。
 -->
	<bean id='integer'  class="java.lang.Integer">
	   <constructor-arg value='25' />
	</bean>
	
	<bean id='str'  class="java.lang.String">
	   <constructor-arg value='張小雅' />
	</bean>
	
</beans>